/* .logo{
    height: 95px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
} */
/* .nav-items{
    padding: 20px;
}
.nav-items > ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    
} */

/* .nav-items > ul > li{
    padding: 20px;
} */

/* a {
    text-decoration: none !important;
    color:black
} */

/* .link{
    margin-right: 20px;
} */